<h1>Week <%= @week.week %></h1>
<h2>Your Overall Score: <%= @total_score %></h2>
<% if @weekly_score %>
  <h2>Your Weekly Score: <%= @weekly_score %></h2>
<% else %>
  <h2>You have no score for this week</h2>
<% end %>
<% @games.each do |game| %>
  <% if game.home_score %>
    <h3>Game Results</h3>
    <table>
      <tr>
        <td><%= game.away_team %></td>
        <td><%= game.away_score %></td>
      </tr>
      <tr>
        <td><%= game.home_team %></td>
        <td><%= game.home_score %></td>
      </tr>
      <tr>
        <td><strong>Spread: </strong></td>
        <td><%= game.away_team %> <%= game.spread_for_away_team %></td>
      </tr>
      <tr>
        <td><strong>Spread winner: </strong></td>
        <td><%= game.winner %></td>
      </tr>
      <tr>
        <td><strong>Your pick: </strong></td>
        <td><%= current_user.picks.find_by(game_id: game.id).winner %></td>
      </tr>
      <tr>
        <td><strong>Correct: </strong></td>
        <td><%= current_user.picks.find_by(game_id: game.id).correct %></td>
      </tr>
    </table>
  <% else %>
    <h3><%= game.away_team %> <%= game.spread_for_away_team %> at <%= game.home_team %></h3>
    <p><%= game.date_time.to_s(:game_time) %></p>
    <strong>Your pick: </strong>
    <div id="<%= dom_id(@game_picks[game]) %>">
      <% if Time.now > game.date_time %>
        <% if @game_picks[game].winner.nil? %>
          <p>Too late, this game has started!</p>
        <% else %>
          <p><%= @game_picks[game].winner %></p>
          <p><strong>*Pick locked, game has already started*</strong></p>
        <% end %>
      <% else %>
        <% if @game_picks[game].winner.nil? %>
          <p id="winner_<%= dom_id(@game_picks[game]) %>">You haven't made your pick yet!</p>
        <% else %>
          <p id="winner_<%= dom_id(@game_picks[game]) %>"><%= @game_picks[game].winner %></p>
        <% end %>
        <%= link_to "Update Pick", edit_pick_path(@game_picks[game]), remote: true %>
      <% end %>
    </div>
    <div id="edit_<%= dom_id(@game_picks[game]) %>" class="hidden">
      <%= form_for @game_picks[game], remote: true do |f| %>
        <% if @game_picks[game].errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@game_picks[game].errors.count, "error") %> prohibited
                                                  this game_picks[game] from being saved:</h2>

            <ul class="field_with_errors">
            <%= @game_picks[game].errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.select :winner, ["#{game.home_team}", "#{game.away_team}"] %>

        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
<% end %>
