<h1>Week <%= @week.week %></h1>
<% @games.each do |game| %>
  <% if game.home_score %>
    <h3>Game Results</h3>
    <table>
      <tr>
        <td><%= game.away_team %></td>
        <td><%= game.away_score %></td>
      </tr>
      <tr>
        <td><%= game.home_team %></td>
        <td><%= game.home_score %></td>
      </tr>
    </table>
  <% else %>
    <h3><%= game.away_team %> <%= game.spread_for_away_team %> at <%= game.home_team %></h3>
    <p><%= game.date_time.to_s(:game_time) %></p>
  <% end %>
<% end %>
